[Unit]
Description = VG Socket Brigades Service (brigades management)
ConditionPathExists=/etc/vg-dc-socket-admin/vgsocket.env

[Service]
EnvironmentFile=/etc/vg-dc-mgmt/dc-name.env
EnvironmentFile=/etc/vg-dc-vpnapi/modbrigade.env
EnvironmentFile=/etc/vg-dc-vpnapi/creation.env
EnvironmentFile=/etc/vg-dc-socket-admin/vgsocket.env
User=vgs_admin
Group=vgs_admin
WorkingDirectory=/home/vgs_admin
ExecStart = /opt/vg-dc-socket/vgsbrigades_service

[Install]
WantedBy=multi-user.target