[Unit]
Description=Collect brigades statistics
Wants=vg-dc-stats.timer

[Service]
Type=oneshot
User=vgstats
Group=vgstats
WorkingDirectory=/home/vgstats
ExecStart=/opt/vg-dc-stats/collectstats

[Install]
WantedBy=multi-user.target