[Unit]
Description=Collect brigades statistics
Requires=vg-dc-stats.service

[Timer]
Unit=vg-dc-stats.service
OnCalendar=daily

[Install]
WantedBy=timers.target